<div class="container">
  <form id="validation-form" name="validation-form" #f="ngForm" (ngSubmit)="f.form.valid && saveForm()" novalidate >

    <div class="form-group">
      <label > Name</label>
      <input type="text" class="form-control" name="ename" id="ename" [(ngModel)]="name" required #ename="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ename.invalid }" maxlength="40"> 
      <div *ngIf="f.submitted && ename.errors != null &&  ename.invalid" class="invalid-feedback">
        <div *ngIf="ename.errors?.required">Name is required</div>
      </div>
    </div>
  
    <div class="form-group " >
      <label >Description</label>
      <textarea rows="4" cols="50"  class="form-control" id="edescription" name="edescription" [(ngModel)]="description" 
      #edescription="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && edescription.invalid }"></textarea>
      <div *ngIf="f.submitted && edescription.errors!=null && edescription.invalid" class="invalid-feedback">
        <div *ngIf="edescription.errors?.required">Description is required</div>
      </div>
    </div>
  
    <div class="form-group">
      <label>Gender</label>
      <div class="radio">
          <input type="radio" name="egender" class="form-control" id="egender" [value]="'m'" [(ngModel)]="gender" [checked]="gender=='m'"  required #egender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && egender.invalid }"> <span >&nbsp;&nbsp;Male</span>
      </div>
      <div class="radio-inline">
          <input type="radio" name="egender" class="form-control" id="egender" [value]="'f'" [(ngModel)]="gender" [checked]="gender=='f'" required #egender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && egender.invalid }"> <span >&nbsp;&nbsp;Female</span>
      </div>
      <div *ngIf="f.submitted && egender.errors!=null && egender.invalid" class="invalid-feedback">
        <div *ngIf="egender.errors?.required">Choose gender</div>
      </div>
   </div>

   <div class="form-group " >
    <label >Branch</label>
    <select class="form-control" [(ngModel)]="branch"   name="eoption" id="eoption"  required #eoption="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eoption.invalid }">
      <option selected="selected" value="" >Select</option>
      <option *ngFor="let option of branches" value="{{option.id}}">
        {{option.title}}
      </option>
    </select>

    <div *ngIf="f.submitted && eoption.errors!=null && eoption.invalid" class="invalid-feedback">
      <div *ngIf="eoption.errors?.required">Choose branch</div>
    </div>
  </div>

  <button type="submit" class="btn btn-success btn-padding">Submit</button>
  
  </form>
</div>
